## Aplicar los visto en el MOD-3

In [4]:
# importar las librerias pandas y numpy
import pandas as pd
import numpy as np

# Creación de una serie utilizando pandas

In [10]:
# crear una serie usando pandas con marcas de autos y mostrar de forma ordenada
autos=['RENAULT','BMW','TOYOTA','FORD','CITOEN','FIAT']
marca_autos=pd.Series(autos)

print("Listado de la serie marca_autos:\n")
print(marca_autos.sort_values())

Listado de la serie marca_autos:

1        BMW
4     CITOEN
5       FIAT
3       FORD
0    RENAULT
2     TOYOTA
dtype: object

# Generar Data Frame con usuarios y mostrar la salida

In [19]:
# creacion de un data frame y mostrar salida de datos
usuarios=['vjorge','dliliana', 'gcarlos','pjose']
fecha=['2025-07-01','2025-06-20','2025-06-24','2025-06-29']
consultas=[3,7,1,5]

# creo un diccionario
datos={'fecha':fecha,'usuarios':usuarios,'consultas':consultas}

# creo el data frame
df_usuarios=pd.DataFrame(datos)

df_usuarios['fecha']=pd.to_datetime(df_usuarios['fecha'])

print(df_usuarios)

       fecha  usuarios  consultas
0 2025-07-01    vjorge          3
1 2025-06-20  dliliana          7
2 2025-06-24   gcarlos          1
3 2025-06-29     pjose          5

# Crear tabla dinámica usando pandas a través de un Data Frame

In [23]:
# creo un data frame con los datos nombre fecha consumo mensual
planilla_enero=pd.DataFrame({'nombres':['Carlos','Aldo','Maria','Silvia'],
                            'fecha':['2025-03-02','2025-04-25','2025-05-16','2025-07-02'],
                            'consumos':[2200,1500,3200,4700]})

planilla_enero['fecha']=pd.to_datetime(planilla_enero['fecha'])

print(planilla_enero)

  nombres      fecha  consumos
0  Carlos 2025-03-02      2200
1    Aldo 2025-04-25      1500
2   Maria 2025-05-16      3200
3  Silvia 2025-07-02      4700

# genero una tabla dinámica partiendo del data frame planilla_enero

In [28]:
# creo la tabla dinamica usando pivot_table
tabla_pivot=planilla_enero.pivot_table(index='nombres',columns='fecha',values='consumos')

print(tabla_pivot)

fecha    2025-03-02  2025-04-25  2025-05-16  2025-07-02
nombres
Aldo            NaN      1500.0         NaN         NaN
Carlos       2200.0         NaN         NaN         NaN
Maria           NaN         NaN      3200.0         NaN
Silvia          NaN         NaN         NaN      4700.0